<div class="col-md-9">
  <div class="feed-toggle">
    <ul class="nav nav-pills outline-active">
      <li class="nav-item">
        <a class="nav-link active" href="#">Article List</a>
      </li>
    </ul>
  </div>

  <div class="post-preview">
    <div class="post-meta">
      <a href="profile.html">
        <img src="http://i.imgur.com/Qr71crq.jpg" />
      </a>
      <div class="info">
        <a href="profile.html" class="author">Eric Simons</a>
        <span class="date">January 20th</span>
      </div>
      <button class="btn btn-outline-primary btn-sm pull-xs-right">
        <i class="ion-heart"></i> 29
      </button>
    </div>
    <a href="post.html" class="preview-link">
      <h1>How to build webapps that scale</h1>
      <p>內文一...</p>
      <span>Read more...</span>
    </a>
  </div>

  <div class="post-preview">
    <div class="post-meta">
      <a href="profile.html">
        <img src="http://i.imgur.com/N4VcUeJ.jpg" />
      </a>
      <div class="info">
        <a href="profile.html" class="author">Albert Pai</a>
        <span class="date">January 20th</span>
      </div>
      <button class="btn btn-outline-primary btn-sm pull-xs-right">
        <i class="ion-heart"></i> 32
      </button>
    </div>
    <a href="post.html" class="preview-link">
      <h1>The song you won't ever stop singing. No matter how hard you try.</h1>
      <p>內文二...</p>
      <span>Read more...</span>
    </a>
  </div>

</div>
